h1 {
    font-weight: 900;
    font-size: 5rem;
    // font-style: italic;
    text-decoration: underline;
    color: $color-primary-light;
    
    padding: .2rem;
    letter-spacing: 1px;
    line-height: 1.2;
 
}