
$color-secondary: #F5EBE0;
$color-secondary-light: #FEFCF3;
$color-secondary-dark: #383838;


$color-primary: #d9b0b0;
$color-primary-light: #F0DBDB;
$color-primary-dark: #9b7a7a;


$color-tertiary: #6b72ba;


$text-outline: .1rem .1rem .15rem #000