
$color-secondary: #F5EBE0;
$color-secondary-light: #FEFCF3;
$color-secondary-dark: #383838;


$color-primary: #d9b0b0;
$color-primary-light: #F0DBDB;
$color-primary-dark: #9b7a7a;


$color-about: #e9efea;
$color-about-dark: #89a78e;

$color-goals: #e9ebef;
$color-goals-dark: #8996a7;

$color-why: #e8dfd5;
$color-why-dark: #b68f81;

$color-contact: #e1dce7;
$color-contact-dark: #9c89a7;




$text-outline: 1px 1px 1px #000;