// | === ATTRIBUTION ===
.attribution {
    position: absolute;
    bottom: 0;
  
    padding: 2rem;
    color: $color-primary-dark;
    opacity: 0.8;
    font-size: 1rem;
  
    & > a {
      &,
      &:link,
      &:visited {
        text-decoration: none;
        z-index: 5;
        color: inherit;
        opacity: inherit;
      }
    }
  }