// | === COMMON SECTION STYLING ===
.section {
  height: calc(100vh - 8rem);
  min-height: 45rem;
  padding: 5rem;
  
  @media only screen and (min-height: 860px) {
    max-height: 60vh;
  }

  @include sectionColorPallete('about', $color-about, $color-about-dark);
  @include sectionColorPallete('goals', $color-goals, $color-goals-dark);
  @include sectionColorPallete('why', $color-why, $color-why-dark);
  @include sectionColorPallete('contact', $color-contact, $color-contact-dark);

  & p {
    color: $color-secondary-dark;
    margin-top: 3rem;
    font-size: 1.8rem;
    font-weight: 500;
  }

  hr {
    height: 3px;
    border: none;
    margin: auto;
    width: 15rem;
  }

  @include respond(phone) {
    max-height: none;
    height: max-content;
  }

  &-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.content-box {
  height: 100%;
  width: 100%;
  overflow: hidden;

  display: flex;
  place-content: center;
  place-items: center;

  @include respond(phone) {
    // grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;

    &--reverse {
      flex-direction: column-reverse;
    }
  }

  &__image {
    flex: 0 0 50%;
    padding: 3rem;
    height: 80%;
    width: 80%;
    display: flex;

    @include respond(phone) {
      flex: none;
      height: 30rem;
      width: 100%;
      justify-content: center;
    }
  }

  &__text-box {
    flex: 0 0 50%;
    position: relative;
    padding: 0 5rem;
    text-align: justify;
    z-index: 2;

    @include respond(phone) {
      margin-top: 1rem;
    }

    & > * {
      transition: transform, opacity, 0.5s ease-out;
      will-change: transform, opacity;
    }

    & .section-content {
      transition-delay: .4s;
    }

    &.hidden {
      & .section {
        &-title {
          transform: translateY(-80%);
          opacity: 0;
        }
      }

      & .section-content {
        transform: translateY(20%);
        opacity: 0;
      }
    }
  }

}

// | Contact section icons 

.contact-icons {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 2rem; 

  @include respond(phone) {
    margin: 4rem 0 2rem;
  }
}

.contact-icon {
  display: inline-block;
  height: 5rem; width: 5rem;
  fill: $color-secondary-dark;
  cursor: pointer;

  transition: fill .2s linear;
  &:hover {
    fill: $color-contact-dark;
  }
}