// | === COMMON SECTION STYLING ===
.section {
  height: 60rem;
  padding: 5rem;

  display: flex;
  place-content: center;
  place-items: center;

  &-about {
    background-color: $color-about;
  }

  &-goals {
    background-color: $color-goals;
  }

  &-why {
    background-color: $color-why;
  }

  &-contact {
    background-color: $color-contact;
  }
}

.content-box {
  height: 100%;
  width: 100%;

  display: flex;
  &__image {
    padding: 5rem;
    flex: 0 0 50%;
  }

  &__text-box {
    flex: 1;
  }
}


// | === ATTRIBUTION ===
.attribution {
    position: absolute;
    bottom: 0;
  
    padding: 2rem;
    color: $color-primary-dark;
    opacity: 0.8;
    font-size: 1rem;
  
    & > a {
      &,
      &:link,
      &:visited {
        text-decoration: none;
        z-index: 5;
        color: inherit;
        opacity: inherit;
      }
    }
  }