.btn {
    &,
    &:link,
    &:visited {
        cursor: pointer;
        font-size: inherit;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        font-weight: 500;

        border-radius: 5px;
        border: 1px solid currentColor;

        padding: 1rem;
        
        background-color: $color-primary-light;
        color: $color-secondary-dark;
        box-shadow: 0px 1px 3px #0000003b;
        
    }
}